button {
  display: block;
  border: none;
  margin: 20px auto;
  background-color: crimson;
  color: white;
  padding: 6px 10px;
}
.popup-wrapper {
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  position: fixed;
  height: 100%;
  display: none;
}
.popup {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  position: relative;
  background-color: white;
  width: 100%;
  max-width: 300px;
  margin: 10% auto;
  padding: 21px;
}
.popup a {
  background: crimson;
  padding: 6px 10px;
  text-decoration: none;
  color: white;
}
.popup-close {
  position: absolute;
  right: 10px;
  top: 7px;
  background-color: crimson;
  color: white;
  padding: 5px;
  cursor: pointer;
}
